$background:                                {{colors.background.light.rgba}};
$error:                                     {{colors.error.light.rgba}};
$error_container:                           {{colors.error_container.light.rgba}};
$inverse_on_surface:                        {{colors.inverse_on_surface.light.rgba}};
$inverse_primary:                           {{colors.inverse_primary.light.rgba}};
$inverse_surface:                           {{colors.inverse_surface.light.rgba}};
$on_background:                             {{colors.on_background.light.rgba}};
$on_error:                                  {{colors.on_error.light.rgba}};
$on_error_container:                        {{colors.on_error_container.light.rgba}};
$on_primary:                                {{colors.on_primary.light.rgba}};
$on_primary_container:                      {{colors.on_primary_container.light.rgba}};
$on_primary_fixed:                          {{colors.on_primary_fixed.light.rgba}};
$on_primary_fixed_variant:                  {{colors.on_primary_fixed_variant.light.rgba}};
$on_secondary:                              {{colors.on_secondary.light.rgba}};
$on_secondary_container:                    {{colors.on_secondary_container.light.rgba}};
$on_secondary_fixed:                        {{colors.on_secondary_fixed.light.rgba}};
$on_secondary_fixed_variant:                {{colors.on_secondary_fixed_variant.light.rgba}};
$on_surface:                                {{colors.on_surface.light.rgba}};
$on_surface_variant:                        {{colors.on_surface_variant.light.rgba}};
$on_tertiary:                               {{colors.on_tertiary.light.rgba}};
$on_tertiary_container:                     {{colors.on_tertiary_container.light.rgba}};
$on_tertiary_fixed:                         {{colors.on_tertiary_fixed.light.rgba}};
$on_tertiary_fixed_variant:                 {{colors.on_tertiary_fixed_variant.light.rgba}};
$outline:                                   {{colors.outline.light.rgba}};
$outline_variant:                           {{colors.outline_variant.light.rgba}};
$primary:                                   {{colors.primary.light.rgba}};
$primary_container:                         {{colors.primary_container.light.rgba}};
$primary_fixed:                             {{colors.primary_fixed.light.rgba}};
$primary_fixed_dim:                         {{colors.primary_fixed_dim.light.rgba}};
$scrim:                                     {{colors.scrim.light.rgba}};
$secondary:                                 {{colors.secondary.light.rgba}};
$secondary_container:                       {{colors.secondary_container.light.rgba}};
$secondary_fixed:                           {{colors.secondary_fixed.light.rgba}};
$secondary_fixed_dim:                       {{colors.secondary_fixed_dim.light.rgba}};
$shadow:                                    {{colors.shadow.light.rgba}};
$source_color:                              {{colors.source_color.light.rgba}};
$surface:                                   {{colors.surface.light.rgba}};
$surface_bright:                            {{colors.surface_bright.light.rgba}};
$surface_container:                         {{colors.surface_container.light.rgba}};
$surface_container_high:                    {{colors.surface_container_high.light.rgba}};
$surface_container_highest:                 {{colors.surface_container_highest.light.rgba}};
$surface_container_low:                     {{colors.surface_container_low.light.rgba}};
$surface_container_lowest:                  {{colors.surface_container_lowest.light.rgba}};
$surface_dim:                               {{colors.surface_dim.light.rgba}};
$surface_tint:                              {{colors.surface_tint.light.rgba}};
$surface_variant:                           {{colors.surface_variant.light.rgba}};
$tertiary:                                  {{colors.tertiary.light.rgba}};
$tertiary_container:                        {{colors.tertiary_container.light.rgba}};
$tertiary_fixed:                            {{colors.tertiary_fixed.light.rgba}};
$tertiary_fixed_dim:                        {{colors.tertiary_fixed_dim.light.rgba}};

$dark-background:                           {{colors.background.dark.rgba}};
$dark-error:                                {{colors.error.dark.rgba}};
$dark-error_container:                      {{colors.error_container.dark.rgba}};
$dark-inverse_on_surface:                   {{colors.inverse_on_surface.dark.rgba}};
$dark-inverse_primary:                      {{colors.inverse_primary.dark.rgba}};
$dark-inverse_surface:                      {{colors.inverse_surface.dark.rgba}};
$dark-on_background:                        {{colors.on_background.dark.rgba}};
$dark-on_error:                             {{colors.on_error.dark.rgba}};
$dark-on_error_container:                   {{colors.on_error_container.dark.rgba}};
$dark-on_primary:                           {{colors.on_primary.dark.rgba}};
$dark-on_primary_container:                 {{colors.on_primary_container.dark.rgba}};
$dark-on_primary_fixed:                     {{colors.on_primary_fixed.dark.rgba}};
$dark-on_primary_fixed_variant:             {{colors.on_primary_fixed_variant.dark.rgba}};
$dark-on_secondary:                         {{colors.on_secondary.dark.rgba}};
$dark-on_secondary_container:               {{colors.on_secondary_container.dark.rgba}};
$dark-on_secondary_fixed:                   {{colors.on_secondary_fixed.dark.rgba}};
$dark-on_secondary_fixed_variant:           {{colors.on_secondary_fixed_variant.dark.rgba}};
$dark-on_surface:                           {{colors.on_surface.dark.rgba}};
$dark-on_surface_variant:                   {{colors.on_surface_variant.dark.rgba}};
$dark-on_tertiary:                          {{colors.on_tertiary.dark.rgba}};
$dark-on_tertiary_container:                {{colors.on_tertiary_container.dark.rgba}};
$dark-on_tertiary_fixed:                    {{colors.on_tertiary_fixed.dark.rgba}};
$dark-on_tertiary_fixed_variant:            {{colors.on_tertiary_fixed_variant.dark.rgba}};
$dark-outline:                              {{colors.outline.dark.rgba}};
$dark-outline_variant:                      {{colors.outline_variant.dark.rgba}};
$dark-primary:                              {{colors.primary.dark.rgba}};
$dark-primary_container:                    {{colors.primary_container.dark.rgba}};
$dark-primary_fixed:                        {{colors.primary_fixed.dark.rgba}};
$dark-primary_fixed_dim:                    {{colors.primary_fixed_dim.dark.rgba}};
$dark-scrim:                                {{colors.scrim.dark.rgba}};
$dark-secondary:                            {{colors.secondary.dark.rgba}};
$dark-secondary_container:                  {{colors.secondary_container.dark.rgba}};
$dark-secondary_fixed:                      {{colors.secondary_fixed.dark.rgba}};
$dark-secondary_fixed_dim:                  {{colors.secondary_fixed_dim.dark.rgba}};
$dark-shadow:                               {{colors.shadow.dark.rgba}};
$dark-surface:                              {{colors.surface.dark.rgba}};
$dark-surface_bright:                       {{colors.surface_bright.dark.rgba}};
$dark-surface_container:                    {{colors.surface_container.dark.rgba}};
$dark-surface_container_high:               {{colors.surface_container_high.dark.rgba}};
$dark-surface_container_highest:            {{colors.surface_container_highest.dark.rgba}};
$dark-surface_container_low:                {{colors.surface_container_low.dark.rgba}};
$dark-surface_container_lowest:             {{colors.surface_container_lowest.dark.rgba}};
$dark-surface_dim:                          {{colors.surface_dim.dark.rgba}};
$dark-surface_tint:                         {{colors.surface_tint.dark.rgba}};
$dark-surface_variant:                      {{colors.surface_variant.dark.rgba}};
$dark-tertiary:                             {{colors.tertiary.dark.rgba}};
$dark-tertiary_container:                   {{colors.tertiary_container.dark.rgba}};
$dark-tertiary_fixed:                       {{colors.tertiary_fixed.dark.rgba}};
$dark-tertiary_fixed_dim:                   {{colors.tertiary_fixed_dim.dark.rgba}};
