configuration{
    modi: "drun,window,clipboard:~/.config/rofi/scripts/cliphist-rofi-img,run,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 🏃‍➡️  Drun ";
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    display-clipboard: " 📋 Clipboard";
    sidebar-mode: true;
    hover-select: true;
    kb-mode-previous: "Super+ISO_Left_Tab";
    kb-mode-next: "Super+Tab";
}
