@use "./colors.scss" as *;

window.Bar {
    background: transparent;
    
    .Container {
        min-height: 24px;
        background: $background;
        color: $primary;
        padding: 0.2rem 0.5rem;
        font-size: 13px;
        font-weight: 600;
        
        .Launcher {
            button {
                &:hover {
                    color: $primary_fixed;
                }
                
                label {
                    font-size: 20px;
                }
            }
        }
        
        .Workspaces {
            .WorkspaceButton {
                color: $inverse_primary;
                
                &.Occupied {
                    color: $primary;
                }

                &.Focused {
                    color: $primary;
                    > label {
                        text-decoration: underline;
                    }
                }
                
                &:hover {
                    color: $primary_fixed;
                }
            }
        }

        box.Tray {
            menubutton.TrayMenuButton {
                label.TrayLabelIcon {
                    font-size: 14px; // Don't foget to adjust TrayImageIcon pixelSize too
                }

                image.TrayImageIcon {
                    min-width: 16px; // This does nothing
                }
            }
        }
    }
}
