$background:                                rgba(255, 248, 246, 1.0);
$error:                                     rgba(186, 26, 26, 1.0);
$error_container:                           rgba(255, 218, 214, 1.0);
$inverse_on_surface:                        rgba(255, 237, 231, 1.0);
$inverse_primary:                           rgba(255, 181, 150, 1.0);
$inverse_surface:                           rgba(56, 46, 42, 1.0);
$on_background:                             rgba(35, 26, 22, 1.0);
$on_error:                                  rgba(255, 255, 255, 1.0);
$on_error_container:                        rgba(65, 0, 2, 1.0);
$on_primary:                                rgba(255, 255, 255, 1.0);
$on_primary_container:                      rgba(54, 15, 0, 1.0);
$on_primary_fixed:                          rgba(54, 15, 0, 1.0);
$on_primary_fixed_variant:                  rgba(113, 54, 26, 1.0);
$on_secondary:                              rgba(255, 255, 255, 1.0);
$on_secondary_container:                    rgba(44, 22, 12, 1.0);
$on_secondary_fixed:                        rgba(44, 22, 12, 1.0);
$on_secondary_fixed_variant:                rgba(93, 64, 52, 1.0);
$on_surface:                                rgba(35, 26, 22, 1.0);
$on_surface_variant:                        rgba(83, 68, 61, 1.0);
$on_tertiary:                               rgba(255, 255, 255, 1.0);
$on_tertiary_container:                     rgba(32, 28, 0, 1.0);
$on_tertiary_fixed:                         rgba(32, 28, 0, 1.0);
$on_tertiary_fixed_variant:                 rgba(78, 71, 27, 1.0);
$outline:                                   rgba(133, 115, 108, 1.0);
$outline_variant:                           rgba(216, 194, 186, 1.0);
$primary:                                   rgba(142, 77, 47, 1.0);
$primary_container:                         rgba(255, 219, 205, 1.0);
$primary_fixed:                             rgba(255, 219, 205, 1.0);
$primary_fixed_dim:                         rgba(255, 181, 150, 1.0);
$scrim:                                     rgba(0, 0, 0, 1.0);
$secondary:                                 rgba(119, 87, 74, 1.0);
$secondary_container:                       rgba(255, 219, 205, 1.0);
$secondary_fixed:                           rgba(255, 219, 205, 1.0);
$secondary_fixed_dim:                       rgba(230, 190, 173, 1.0);
$shadow:                                    rgba(0, 0, 0, 1.0);
$source_color:                              rgba(147, 103, 84, 1.0);
$surface:                                   rgba(255, 248, 246, 1.0);
$surface_bright:                            rgba(255, 248, 246, 1.0);
$surface_container:                         rgba(252, 234, 228, 1.0);
$surface_container_high:                    rgba(246, 229, 222, 1.0);
$surface_container_highest:                 rgba(241, 223, 216, 1.0);
$surface_container_low:                     rgba(255, 241, 236, 1.0);
$surface_container_lowest:                  rgba(255, 255, 255, 1.0);
$surface_dim:                               rgba(232, 214, 208, 1.0);
$surface_tint:                              rgba(142, 77, 47, 1.0);
$surface_variant:                           rgba(245, 222, 213, 1.0);
$tertiary:                                  rgba(103, 95, 48, 1.0);
$tertiary_container:                        rgba(239, 227, 169, 1.0);
$tertiary_fixed:                            rgba(239, 227, 169, 1.0);
$tertiary_fixed_dim:                        rgba(210, 199, 143, 1.0);

$dark-background:                           rgba(26, 17, 14, 1.0);
$dark-error:                                rgba(255, 180, 171, 1.0);
$dark-error_container:                      rgba(147, 0, 10, 1.0);
$dark-inverse_on_surface:                   rgba(56, 46, 42, 1.0);
$dark-inverse_primary:                      rgba(142, 77, 47, 1.0);
$dark-inverse_surface:                      rgba(241, 223, 216, 1.0);
$dark-on_background:                        rgba(241, 223, 216, 1.0);
$dark-on_error:                             rgba(105, 0, 5, 1.0);
$dark-on_error_container:                   rgba(255, 218, 214, 1.0);
$dark-on_primary:                           rgba(84, 33, 6, 1.0);
$dark-on_primary_container:                 rgba(255, 219, 205, 1.0);
$dark-on_primary_fixed:                     rgba(54, 15, 0, 1.0);
$dark-on_primary_fixed_variant:             rgba(113, 54, 26, 1.0);
$dark-on_secondary:                         rgba(68, 42, 31, 1.0);
$dark-on_secondary_container:               rgba(255, 219, 205, 1.0);
$dark-on_secondary_fixed:                   rgba(44, 22, 12, 1.0);
$dark-on_secondary_fixed_variant:           rgba(93, 64, 52, 1.0);
$dark-on_surface:                           rgba(241, 223, 216, 1.0);
$dark-on_surface_variant:                   rgba(216, 194, 186, 1.0);
$dark-on_tertiary:                          rgba(55, 49, 6, 1.0);
$dark-on_tertiary_container:                rgba(239, 227, 169, 1.0);
$dark-on_tertiary_fixed:                    rgba(32, 28, 0, 1.0);
$dark-on_tertiary_fixed_variant:            rgba(78, 71, 27, 1.0);
$dark-outline:                              rgba(160, 141, 133, 1.0);
$dark-outline_variant:                      rgba(83, 68, 61, 1.0);
$dark-primary:                              rgba(255, 181, 150, 1.0);
$dark-primary_container:                    rgba(113, 54, 26, 1.0);
$dark-primary_fixed:                        rgba(255, 219, 205, 1.0);
$dark-primary_fixed_dim:                    rgba(255, 181, 150, 1.0);
$dark-scrim:                                rgba(0, 0, 0, 1.0);
$dark-secondary:                            rgba(230, 190, 173, 1.0);
$dark-secondary_container:                  rgba(93, 64, 52, 1.0);
$dark-secondary_fixed:                      rgba(255, 219, 205, 1.0);
$dark-secondary_fixed_dim:                  rgba(230, 190, 173, 1.0);
$dark-shadow:                               rgba(0, 0, 0, 1.0);
$dark-surface:                              rgba(26, 17, 14, 1.0);
$dark-surface_bright:                       rgba(66, 55, 51, 1.0);
$dark-surface_container:                    rgba(39, 30, 26, 1.0);
$dark-surface_container_high:               rgba(50, 40, 36, 1.0);
$dark-surface_container_highest:            rgba(61, 50, 46, 1.0);
$dark-surface_container_low:                rgba(35, 26, 22, 1.0);
$dark-surface_container_lowest:             rgba(20, 12, 9, 1.0);
$dark-surface_dim:                          rgba(26, 17, 14, 1.0);
$dark-surface_tint:                         rgba(255, 181, 150, 1.0);
$dark-surface_variant:                      rgba(83, 68, 61, 1.0);
$dark-tertiary:                             rgba(210, 199, 143, 1.0);
$dark-tertiary_container:                   rgba(78, 71, 27, 1.0);
$dark-tertiary_fixed:                       rgba(239, 227, 169, 1.0);
$dark-tertiary_fixed_dim:                   rgba(210, 199, 143, 1.0);
