@use "./colors.scss" as *;

box.VolumeMenu {
    button.SpeakerButton {
        label {
            color: $primary;
        }

        &.Active {
            label {
                text-decoration: underline;
            }
        }
        
        &:not(.Active) {
            &:hover {
                label {
                    color: $primary_fixed;
                }
            }
        }
    }
}
